<!-- <h1>Signup</h1>
<hr>
<div class="col-md-4">
  <form #signupForm="ngForm" (ngSubmit)="signup(signupForm.value)" autocomplete="off" novalidate>
    <div class="form-group" >
      <label for="userName">Username</label>
      <em *ngIf = "signupForm.controls.userName?.invalid && (signupForm.controls.userName?.touched || mouseoversignup)">Required</em>
      <input id="userName" (ngModel)="userName" required name="userName" type="text" class="form-control" placeholder="User Name..." />
    </div>
    <div class="form-group" >
      <label for="password">Password:</label>
      <em *ngIf = "mouseoversignup || signupForm.controls.password?.invalid && (signupForm.controls.password?.touched || mouseoversignup)">Required</em>
      <input id="password" (ngModel)="password" name="password" required type="password" class="form-control" placeholder="Password..." />
    </div>
        
    <span (mouseenter) = "mouseoversignup = true" (mouseleave) = "mouseoversignup = false">
      <button type="submit" class="btn btn-primary" [disabled] = "signupForm?.invalid">Signup</button>
    </span>
    <button type="button" [routerLink] = "['/events']" class="btn btn-default">Cancel</button>
  </form>
</div> -->

<h1>Signup</h1>
<div class="col-md-4"> 
    <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" formControlName="username" placeholder="enter username" class="form-control"/>
        </div>
        <div class="form-group"> 
            <label for="password">Password:</label>
            <input type="text" formControlName="password" placeholder="enter password" class="form-control"/>
        </div>
        <button type="submit" [disabled]="!signupForm.valid">Submit</button>

    </form>
</div>
