<div class="d-flex justify-content-center">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header text-center">
				<h1>Signup</h1>
			</div>
			<form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
				<div class="card-body"> 
					<div class="form-group">
						<label for="username" class="control-label">Email:</label>
                        <input type="email" formControlName="username" placeholder="Email Address" class="form-control"
                            [ngClass]="{'is-invalid':formControl.username.invalid || fromControl.username.errors}" required/>
                        <div *ngIf="formControl.username.errors" class="invalid-feedback">
                            <div *ngIf="formControl.username.errors.required">Email is required</div>
                            <div *ngIf="formControl.username.errors.email">Please enter a valid email</div>
                        </div>
					</div>
					<div class="form-group"> 
						<label for="password" class="control-label">Password:</label>
                        <input type="password" formControlName="password" placeholder="enter password" class="form-control"
                            [ngClass]="{'is-invalid' : formControl.password.invalid || formControl.password.errors}" required/>
                        <div *ngIf="fromControl.password.errors" class="invalid-feedback">
                            <div *ngIf="formControl.password.errors.required">Password is required</div>
                        </div>
                    </div>
					<div>
						<label for="confirmPassword" class="control-label">Confirm Password:</label>
						<input type="password" formControlName="confirmPassword" placeholder="Confirm password" class="form-control"/>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
