<div class="d-flex justify-content-center">
	<div class="col-md-4">
		<div class="card">
			<div class="card-header text-center">
				<h1>Login</h1>
			</div>
			<form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
				<div class="card-body"> 
					<div class="form-group">
						<label for="username" class="control-label">Email:</label>
                        <input type="email" formControlName="username" placeholder="Email Address" class="form-control"
                            [ngClass]="{'is-invalid':formControl.username.invalid || fromControl.username.errors}" required/>
                        <div *ngIf="formControl.username.errors" class="invalid-feedback">
                            <div *ngIf="formControl.username.errors.required">Email is required</div>
                            <div *ngIf="formControl.username.errors.email">Please enter a valid email</div>
                        </div>
					</div>
					<div class="form-group"> 
						<label for="password" class="control-label">Password:</label>
                        <input type="password" formControlName="password" placeholder="enter password" class="form-control"
                            [ngClass]="{'is-invalid' : formControl.password.invalid || formControl.password.errors}" required/>
                        <div *ngIf="fromControl.password.errors" class="invalid-feedback">
                            <div *ngIf="formControl.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid || loading">Login</button>
                        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    </div>
				</div>
				<div class="card-footer">
                    <div class="text-left">forgotPassword</div>
                    <div class="text-right">Singup</div>
				</div>
			</form>
		</div>
	</div>
</div>
